<div class="p-3">
  <div class="card">
    <div class="card-header">Order Details</div>
    <div class="card-body">
      <ng-container *ngIf="order$ | async as order">
        <h2>Order N° {{order.id}}</h2>
        <p>Date: {{order.createdAt | date : 'dd-MM-yyyy'}}</p>
        <p>Status: {{order.status}}</p>
        <table class="table">
          <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <ng-container>
            <tr *ngFor="let order of order.productItems">
              <td>{{ order.product.name }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.price * order.quantity }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
<!--        Total-->
        <p class="text-end">Total: {{order.total}}</p>
      </ng-container>
    </div>
  </div>
</div>
